Fibonacci using the general term formula

In [1]:
import math
n=int(input("enter the term number"))
gt=int((1/math.sqrt(5))*((((1+math.sqrt(5))/2)**n)-((((1-math.sqrt(5))/2)**n))))
print("the value of the term you entered is "+str(gt))
answer=int(input("do you want to give me another example? write : 1 for yes or 2 for no"))
while answer == 1:
     n=int(input("enter the term number"))
     gt=int((1/math.sqrt(5))*((((1+math.sqrt(5))/2)**n)-((((1-math.sqrt(5))/2)**n))))
     print("the value of the term you entered is "+str(gt))
     answer=int(input("do you want to give me another example? write : 1 for yes or 2 for no"))

enter the term number10
the value of the term you entered is 55
do you want to give me another example? write : 1 for yes or 2 for no1
enter the term number15
the value of the term you entered is 610
do you want to give me another example? write : 1 for yes or 2 for no1
enter the term number19
the value of the term you entered is 4181
do you want to give me another example? write : 1 for yes or 2 for no2

Fibonacci using the recursive formula

In [3]:
def fibonacci(n):

     if n<3:
          return 1

     return fibonacci(n-1)+fibonacci(n-2)

n=int(input("enter the n value "))
print(fibonacci(n))

enter the n value 15
610

Arithmetic series by Gauss

In [4]:
def Gauss(n):
     if n<2:
          return 1

     return n+Gauss(n-1)

n=int(input("enter the n value "))
print(Gauss(n))

enter the n value 100
5050